@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

.bg{
background-size:cover;
padding-bottom:190px;
background-repeat:no-repeat;
background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWln%0D%0AaHQ9IjEwMTIiIHZpZXdCb3g9IjAgMCAxNDQwIDEwMTIiPgogICAgPGRlZnM+CiAgICAgICAgPGxp%0D%0AbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iMTAwJSIgeDI9IjAlIiB5MT0iNTAlIiB5Mj0iNTAlIj4K%0D%0AICAgICAgICAgICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI0ZGRiIgc3RvcC1vcGFj%0D%0AaXR5PSIwIi8+CiAgICAgICAgICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI0ZG%0D%0ARiIvPgogICAgICAgICAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNGRkYiLz4K%0D%0AICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPGcgZmlsbD0ibm9uZSIg%0D%0AZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBmaWxsPSIjMkMyRDUwIiBkPSJNMCAw%0D%0AaDE0NDB2MTAxMUgweiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiMxNDE1MkIiIGQ9Ik0wIDEwMTAu%0D%0AMTk4aDE0NDB2LTg3MGMtMTAyLjQ2NS01MS4zOTctMTg1LjM1Ni03OS44Mi0yNDguNjczLTg1LjI2%0D%0AOUM5OTAuOTUyIDM3LjY4NiA3NzMuNDc2IDgzLjExMSA2OTAuNiA3Ny42NTEgNTY0LjU4NiA2OS4z%0D%0ANSA0NzAuMDUzIDY1LjE5OCA0MDcgNjUuMTk4Yy0xNTQuNzM4IDAtMjkwLjQwNSAyNS00MDcgNzV2%0D%0AODcweiIgb3BhY2l0eT0iLjQwNCIvPgogICAgICAgIDxwYXRoIGZpbGw9IiMxNDE1MkIiIGQ9Ik0x%0D%0ANDQwIDEwMTEuMDM3SDB2LTg3MGMxMDIuNDY1LTUxLjM5NyAxODUuMzU2LTc5LjgyIDI0OC42NzMt%0D%0AODUuMjY5IDQyLjczMi0zLjY3NyAyNzIuOTItOS43OTMgMzQ4LjAyOCAxNyA2Ljg3NCAyLjQ1Mi0z%0D%0AOS41OTggMTIuMzA4LTEzOS40MTcgMjkuNTY4QzU2NC42MSA3MC45ODcgNjM1Ljg1IDU0LjE1NSA2%0D%0ANzEgNTEuODRjMTI2LjAxNC04LjMwMiAyOTguOTQ3IDE0LjE5OCAzNjIgMTQuMTk4IDE1NC43Mzgg%0D%0AMCAyOTAuNDA1IDI1IDQwNyA3NXY4NzB6IiBvcGFjaXR5PSIuNDA0Ii8+CiAgICAgICAgPHBhdGgg%0D%0AZmlsbD0iIzE0MTUyQiIgZD0iTTE0NDAgMTAxMC41ODNIMHYtODcwYzEyMS4yMzQtODEuMTA5IDI4%0D%0ANS42Ni0xMjQuNzc1IDQ5My4yNzctMTMxIDIwNy42MTctNi4yMjYgNTIzLjE5MiAzNy40NDEgOTQ2%0D%0ALjcyMyAxMzF2ODcweiIgb3BhY2l0eT0iLjQwNCIvPgogICAgICAgIDxyZWN0IHdpZHRoPSIxMDAi%0D%0AIGhlaWdodD0iMjAuMzU4IiB4PSI2NzAiIHk9IjIzNiIgZmlsbD0idXJsKCNhKSIgb3BhY2l0eT0i%0D%0ALjA1NSIgcng9IjEwLjE3OSIgdHJhbnNmb3JtPSJyb3RhdGUoLTMwIDcyMCAyNDYuMTc5KSIvPgog%0D%0AICAgPC9nPgo8L3N2Zz4K  ');
}

body{
background-color:#2a1a5e;
}
#center{
position:relative;
padding-top:11%;
}

#cardsflex{
display:flex;
justify-content:center;
}

.text-garage{
font-size:20px;
font-family: 'Fredericka the Great', cursive;
color:#ff4d00;
}

.one{
margin:50px 20px 20px 20px;
}
.two{
margin:20px 20px 20px 20px;
}
.three{
margin:50px 20px 20px 20px;
}
.one{
height:200px;
width:250px;
}
.two{
height:300px;
width:300px;
}
.three{
height:200px;
width:250px;
}
