/* Compressed by vick*/
@import https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap;/* CSSTidy 1.5.2: Sun, 06 Oct 2019 14:41:11 +0000 */.bg{background-size:cover;padding-bottom:190px;background-repeat:no-repeat}body{background-color:#2a1a5e}#center{position:relative;padding-top:11%}#cardsflex{display:flex;justify-content:center}.text-garage{color:#ff4d00;font:20px 'Fredericka the Great',cursive}.one{margin:50px 20px 20px}.two{margin:20px}.three{margin:50px 20px 20px}.one{height:200px;width:250px}.two{height:300px;width:300px}.three{height:200px;width:250px}

#heading{
color:blue;
}
#heading-small{

}
